{% extends "base.html.jinja" %}

{% block content %}
    <div class="list-group list-group-flush">
        <a href="#" class="list-group-item list-group-item-action bg-dark text-warning fs-5 border-top border-bottom border-light p-3">Bazowa Strona</a>
        <a href="#" class="list-group-item list-group-item-action bg-dark text-warning fs-5 border-bottom border-light p-3">O Autorze</a>
        <a href="#" class="list-group-item list-group-item-action bg-dark text-warning fs-5 border-bottom border-light p-3">Ekstrakcja</a>
        <a href="#" class="list-group-item list-group-item-action bg-dark text-warning fs-5 border-bottom border-light p-3">Produkt</a>
        <a href="#" class="list-group-item list-group-item-action bg-dark text-warning fs-5 border-bottom border-light p-3">Lista produktów</a>
    </div>
{% endblock %}